.DS_Store
*.so
._*
.nfs.*
[56789a].out
*~

*.exe
*.exe~
*.dll
*.so
*.dylib

*.orig
*.rej
.*.swp
.idea/
.idea/**
out/

/VERSION.cache
/bin/
/build.out
/doc/articles/wiki/*.bin
/goinstall.log
/last-change
/misc/cgo/life/run.out
/misc/cgo/stdio/run.out
/misc/cgo/testso/main
