[mysqld]
basedir=/srv/local/srivatsan.lakshmi/mysql-8.0.15-linux-glibc2.12-x86_64/
datadir=/srv/local/srivatsan.lakshmi/mysql-8.0.15-linux-glibc2.12-x86_64/mysql-files
default-time-zone=Europe/Paris
large-pages=TRUE
innodb_buffer_pool_size=32G
innodb_log_buffer_size=16G
innodb_buffer_pool_instances=200
thread_cache_size=500
innodb-thread-sleep-delay=0
max_connections=501
